body {
    background-color: rgb(243, 240, 240);
}

nav {
    display: flex;
    justify-content: space-evenly;
    border-top: solid rgb(26, 67, 41) 5px;
    border-bottom: solid rgb(26, 67, 41) 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration:underline;
    text-decoration-color: #0071e3;
}

#logo {
    font-size: 100%;
    font-family: Lucida Handwriting;
    color: green;
    font-weight: 1000;
}

.items a{
    font-size: 100%;
    font-family:'Courier New', Courier, monospace;
    font-weight: 1000;
    color: black;
}

.items:hover {
    border: solid 3px rgb(26, 67, 41);
    padding: 5px;
}

#main_img {
   /* background-image: url("https://wallpaperaccess.com/full/862202.png"); */
   background-image: url(https://i.pinimg.com/originals/37/6d/38/376d38776eddb98d03b42ebb27f1f752.png);
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#main_1 {
    color: white;
}

.main_img_2 {
    background-image: url(https://i.pinimg.com/originals/37/6d/38/376d38776eddb98d03b42ebb27f1f752.png);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_2 {
    color: white;
}

#main_text {
    padding: 100px;
    font-size: 25px;
}

#form-container {
    padding: 100px;
    font-size: 25px;
}

#goals-form {
    padding: 100px;
}

#user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
}

.user-item {
    background-color: #475B63;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

#contact_text {
    padding: 100px;
    font-size: 25px;
}

.main_img_3 {
    background-image: url(https://i.pinimg.com/originals/37/6d/38/376d38776eddb98d03b42ebb27f1f752.png);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_3 {
    color: white;
}

#max-goal{
    display: flex;
    justify-content: flex-start;
}

#needs_txt {
    position: absolute;
    left: 200px;
    top: 2118px;
}

#wants_txt{
    position: absolute;
    left: 205px;
    top: 2182px;
}

#savings_txt{
    position: absolute;
    left: 220px;
    top: 2246px;
}
